/* Estilos para el modo claro */
body.light {
    background-color: #f5f5f5;
    color: #333;
    margin-bottom: 60px;
}

/* Estilos para el modo oscuro */
body.dark {
    background-color: #2c2c2c;
    color: #e8e8e8;
    margin-bottom: 60px;
}

/* Estilo específico para el editor y la vista previa en modo oscuro */
body.dark .code-editor,
body.dark .code-preview {
    background-color: #1e1e1e;
    color: #b5b5b5;
}

/* Estilo específico para el editor y la vista previa en modo claro */
body.light .code-editor,
body.light .code-preview {
    background-color: #ffffff;
    color: #333;
}

/* Estilos generales para el editor y la vista previa */
.code-editor,
.code-preview {
    border-radius: 5px;
    padding: 15px;
}

/* Estilo para el footer en modo claro */
body.light footer {
    background-color: #f1f1f1;
    color: #333;
    border-top: 1px solid #e0e0e0;
}

/* Estilo para el footer en modo oscuro */
body.dark footer {
    background-color: #2c2c2c;
    color: #e8e8e8;
    border-top: 1px solid #444;
}

footer {
    padding: 20px 0;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}


footer a:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}
